*,*::before,*,*::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: linear-gradient(to right,#9933ff,#ffccff);
}
.calculator-grid{

    display: grid;
    margin-top: 6rem;
    margin-left: 40%;
    grid-template-columns: repeat(4,6em);   /* to enlarge the buttons size*/
    grid-template-rows: minmax(7rem,auto) repeat(5,6rem); /* to enlarge the icons of each grid*/
}

.calculator-grid >button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgb(205, 147, 205);
}

.calculator-grid>button:hover,
.calculator-grid>button:focus{
    background-color: rgba(255, 255,255,.9);
}

.span-two{
    grid-column: span 2;
}
.output{
    grid-column: 1/-1;
    background-color: rgb(145, 73, 164);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: .75rem;
    word-wrap: break-word;
    word-break: break-all;
}

.output.previous-output{
    color: aliceblue;
    font-size: 3rem;

}
.output.current-output{
    color: white;
    font-size: 5rem;
}


:root {
    --shadow-color: #FF9E9E;
    --shadow-color-light: white;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Archivo", sans-serif;
    background-color: #192824;
  }
  
  h1 {
   
    margin-left: 5%;
    padding-top: 10px;
   
    font-size: 35px;
    text-transform: uppercase;
    font-family: "Archivo Black", "Archivo", sans-serif;
    font-weight: normal;
    display: block;
    height: auto;
    text-align: center;
  }
  
  .logo-1 {
    color: white;
    animation: neon 3s infinite;
  }
  
  @keyframes neon {
    0% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
    50% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
      0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
    }
    100% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
  }
p{
    align-items: center;
    margin-left: 47%;
    padding-top: 20px;
}